body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

main {
  padding: 10px;
}

.user {
  background: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
